h5 {
    color: #313135;
    font-weight: 600;
}

.content em {
    color: #95a1ad;
    font-size: 0.8rem;
    font-weight: 500;
}


.content p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content ul li:first-child {
    border-top: none;
}

.content ul ul li:first-child {
    border-top: 1px solid;
    border-color: #f2f2f6;
}

.content ul ul li {
    padding-left: 1.5rem;
}

.content ul ul ul li {
    padding-left: 1.5rem;
}

.content ul ul ul li:first-child {
    border-top: 1px solid;
    border-color: #f2f2f6;
}

.content li {
    border-top: 1px solid;
    border-color: #f2f2f6;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.content ul li p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

blockquote {
    background-color: #f9fafc;
    padding: 0.8rem;
    border-left: 1px solid #008080;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: 0.75rem;
}

blockquote p {
    margin: 0rem !important;
}

blockquote em {
    font-style: italic;
}