@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400');

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif,
        'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 0.875rem;
    line-height: 1.4rem;
    font-weight: 200;
    color: #50535a;
}

a {
    color: inherit;
    text-decoration: none;
    color: #50535a;
    transition: color 0.3s ease;
}
a:hover {
    color: #1056ea;
}

h1 {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 4rem;
    color: #313135;
}

h2 {
    /* font-family: sans-serif; */
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #313135;
}

h3 {
    /* font-family: sans-serif; */
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #313135;
}

h4 {
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
    padding-bottom: 0.5rem;
    color: #95a1ad;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f2f6;
}

h4.nested-title {
    margin-top: 1.5rem;
}

/* .mono {
    font-family: 'Roboto Mono', Menlo;
    font-weight: 600;
    font-size: 0.85rem;
}  */

::placeholder {
    color: #e1e1e6;
}

button {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 5rem;
    color: inherit;
    transition: color 0.3s ease;
}

button:hover {
    color: #008dff;
}

.btn-box-shadow {
    box-shadow: 0 0 0 1px rgba(2, 2, 12, 0.05), 0 2px 4px -2px rgba(2, 2, 12, 0.1);
}
