.manual-content {
    max-width: 800px;
    margin: auto;
    line-height: 1.8em;
}

.manual-content em {
    color: #313135;
    font-weight: 500;
}

.manual-content p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.manual-content ul {
    list-style-type: disc;
}

.manual-content ul li {
    margin-left: 24px;
}

.manual-content a {
    color: #008dff;
    /* text-decoration: underline; */
}

.manual-content strong {
    font-weight: 500;
    color: #313135;
}
