.sections-container {
    padding: 3rem;
}

.section {
    max-width: 100%;
}

.half-column {
    width: 47%;
}


.sticky-code-block {
    position: sticky;
    top: 2rem;
    padding-top: 3rem;
}

.plus-symbol {
    display: inline-block;
    transform: rotate(0deg);
    transition: transfrom 0.5s ease
}

.plus-symbol.enum-open {
    transform: rotate(45deg)
}

.enum-container {
    /* background-color: #f0f1f5; */
    /* font-size: 0.85rem */
}

.enum-table {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 10px;
    font-size: 0.76rem
}

.enum-table:last-child {
    border-bottom: none;
}

.one-of-item {
    /* background-color: #f9fafc; */
}