.section-group-header {
    font-size: 0.8rem;
}
.sidebar-list-container a {
    color: #50535a;
}
.entity {
    font-size: 0.9rem;
    transition: color 0.3s ease;
}
.entity:hover {
    color: #008dff;
}
.entity.active {
    color: #008dff;
}
.entity-child {
    font-size: 0.84rem;
    color: #50535a;
    display: block;
}

.entity-child a:hover {
    color: #008dff;
    display: block;
}

.entity-child.active {
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

.entity-child.active {
    color: #008dff;
}

.active {
    background-color: #f9fafc;
}

.indicator {
    width: 2px;
}