.entity {
    font-size: 1rem;
    color: #747883;
    transition: color 0.3s ease;
}
.entity:hover {
    color: #008dff;
}

.entity-child a {
    color: #747883;
    display: block;
}

.entity-child a:hover {
    color: #008dff;
    display: block;
}